.spinner {
  text-align: center;
  @include _list-child-margin(2px, '*', 'right');

  > div {
    width: 13px;
    height: 13px;
    background-color: rgba($color-paragraph, .3);

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: -#{0.32 / $i}s;
      }
    }
  }
}


.spinner-inline {
  text-align: center;
  @include _list-child-margin(2px, '*', 'right');

  > div {
    width: 10px;
    height: 10px;
    background-color: rgba($color-paragraph, .3);

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: -#{0.32 / $i}s;
      }
    }
  }
}