.brand {
  position: relative;

  a {
    position: relative;
    display: block;

    @include _font-paragraph('regular', $color-paragraph);
    @include _font-size($font-size-1);

    img {
      max-width: 100%;
      height: $brand-height;
      padding: 5px;
      margin-right: 5px;

      border: 1px solid $color-grey;
      background: $color-white;
      border-radius: 3px;
    }
  }
}