.navbar-main {
  position: relative;
  width: 100%;
  height: auto;

  h3 {
    margin: 0 $grid-gap $grid-gap $grid-gap;
    @include _font-paragraph('regular', lighten($color-grey-dark, 8%));
    @include _font-size($font-size-6);
    border-bottom: 1px solid $color-grey;
  }

  > ul {
    @include _reset-lists();
    margin-bottom: $grid-gap*2;

    > li {
      position: relative;
      width: 100%;

      > a {
        @include _display-flex(flex, center, space-between, row);
        @include _sidebarPaddingHelper();
        padding-top: 5px;
        padding-bottom: 5px;

        @include _font-navbar('regular', $color-paragraph);
        @include _font-size($font-size-3);

        &:after {
          opacity: 0;
          position: relative;
          top: -3px;
          @include _getIcon($icon-angle-right-content);
        }

        @include _link-active() {
          color: $color-primary;

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}