.breadcrumb {
  position: relative;
  margin-bottom: $grid-gap*2;

  background: rgba($color-black, .1);

  .container {
    @include _containerHelper('dashboard', $grid-gap*1.5);
  }

  ul {
    @include _reset-lists();
    @include _display-flex(flex, center, flex-start, row);

    li {
      padding: $grid-gap/2 10px;
      position: relative;
      @include _font-navbar('regular', rgba($color-black, .35));
      @include _font-size($font-size-5);

      &:after {
        position: absolute;
        right: -5px;
        top: 0;
        width: 10px;
        height: 100%;
        @include _display-flex(flex, center, center);
        text-align: center;

        content: '//';
        letter-spacing: -2px;
      }

      &:last-child {
        color: rgba($color-black, .6);
        &:after {
          content: none;
        }
      }
    }
  }
}