.navbar-gamedays {
  @include _reset-lists();
  @include _toggleVisibility('-in');
  position: relative;
  width: 100%;
  height: auto;

  li {
    position: relative;
    width: 100%;
    @include _move-list-items-in(14);

    a {
      display: block;
      padding: 2px $grid-gap*2 2px $grid-gap*3;
      @include _font-paragraph('regular', $color-paragraph);
      @include _font-size($font-size-6);

      @include _link-active() {
        color: $color-primary;
      }
    }

    &.-active {
      color: $color-primary;
    }

    &:last-child {
      margin-bottom: $grid-gap;
    }
  }
}