/* ================================ *\
   link style
\* ================================ */

/// Link styles for **default states**
/// @group text
/// @access public
/// @content
@mixin _link-default() {
  &:link,
  &:focus,
  &:visited,
  &.active {
    @content;
  }
}

/// Links styles for **hover state**
/// @group text
/// @access public
/// @content
@mixin _link-active() {
  @include _transition(all);
  &.-active,
  &:hover,
  &:focus {
    @content;
  }
}