/**
    Flex Grid
    <div data-grid="3"> ... </div>
 */
@each $i in $grid {
  [data-grid="#{$i}"] {
    @include _make-row();

    > * {
      @include _make-column($i);
    }
  }
}

/**
  generate a widget grid
  <div class=" widget-3col "></div>
 */
@for $i from 1 through $grid-columns {
  .widget-#{$i}col {
    @include _widgetColumnSize($i);
  }
}


.detect_device {
  [data-device] {
    display: none;
  }

  [data-device="mobile"] {
    @include _respond-to(phones) {
      display: inherit;
    }
  }

  [data-device="tablet"] {
    @include _respond-to(tablets) {
      display: inherit;
    }
  }

  [data-device="desktops"] {
    @include _respond-to(desktops) {
      display: inherit;
    }
  }
}