$colorMap: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "white": $color-white,
    "black": $color-black,
    "grey": $color-grey
);

$fontMap: ("thin", "light", "regular", "semibold", "bold", "black");

.patternlab {
  @include _font-paragraph('regular', $color-paragraph);

  a.patternLink {
    @include _link-default() {
      text-decoration: none;
      @include _font-paragraph('bold', $color-paragraph);
      @include _font-size(16px);
    }
  }

  &.dev {
    .fixed,
    .fix,
    .-fix {
      position: relative !important;
    }

    .overlay {
      position: relative;
      top: inherit;
      left: inherit;
      right: inherit;
    }

    .message-success {
      display: block;
    }
  }
}

/**
  Patternlab: Spinner
 */
.patternlab-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: map_get($z-index, 'overlay') + 100;
  @include _display-flex(flex, center, center, column);
  background: rgba($color-primary, .95);

  p {
    @include _font-headline('bold', $color-white);
  }

  // Animation
  @keyframes plab-loader-move-in {
    0% {
      opacity: 0;
      transform: translateY(-70vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  opacity: 0;
  animation-name: plab-loader-move-in;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: .3s;
  animation-fill-mode: both;

  .default & {
    display: none;
  }

  // Spinner Styles
  .spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 10px auto;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $color-white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    animation-delay: -1.0s;
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
    }
    50% {
      transform: scale(1.0);
    }
  }
}

/**
	Patternlab: Colors
 */
.plab-colors {
  @include _reset-lists();
  @include _display-flex(flex, flex-start, flex-start, row, wrap);
  @include _list-child-margin(10px, 'li', 'right');
  @include _list-child-margin(10px, 'li', 'bottom');
  width: 100%;

  li {
    position: relative;
    width: 180px;
    height: 60px;

    border-radius: 3px;
    @include _font-paragraph(light, $color-white);
    @include _font-size(11px);

    &[data-color]:before {
      content: "$" attr(data-color);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include _display-flex(flex, center, center);
    }

    @each $type, $bgcolor in $colorMap {
      &[data-color="#{$type}"] {
        background-color: $bgcolor;
        color: toggle-color($bgcolor);
      }
    }
  }
}

/**
	Patternlab: Fonts
 */
@each $font in $fontMap {
  .plab-headline--#{$font} {
    @include _font-headline($font, $color-paragraph);
    span {
      display: inline-block;
      width: 180px;
    }
  }
  .plab-paragraph--#{$font} {
    @include _font-paragraph($font, $color-paragraph);
    span {
      display: inline-block;
      width: 180px;
    }
  }
}