/* ================================ *\
    BODY / HTML
\* ================================ */
body {
  position: relative;
  @include _font-paragraph();
  background: $color-background;
}

p {
  @include _reset-alignment();
  @include _font-paragraph();
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}