.spinner {
  position: relative;
  width: 40px;
  height: 40px;

  &:before, &:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba($color-white, .25);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  &:after {
    animation-delay: -1.0s;
  }
}


.spinner-inline {
  text-align: center;
  @include _list-child-margin(2px, '*', 'right');

  > div {
    width: 10px;
    height: 10px;
    background-color: rgba($color-primary, .3);

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: -#{0.32 / $i}s;
      }
    }
  }

}