.number-chart {
  position: relative;
  width: 100%;
  min-height: 137.5px;

  @include _display-flex(flex, flex-start, flex-start, column);

  > div {
    position: relative;
    width: 100%;
    height: 40px;
    @include _display-flex(flex, center, center, row);
  }

  .title {
    background: $chart-number-title-background;
    @include _font-headline('regular', $color_white);
    @include _font_size($font-size-4);
  }

  .value {
    flex: 1;
    background: $chart-number-value-background;
    @include _font-score($color-paragraph);
    @include _font-size($font-size-1);
  }

  .avarage {
    height: 25px;
    border-top: 1px solid $chart-number-avarage-border;
    background: $chart-number-avarage-background;
    @include _font-paragraph('regular', rgba($color-black, .7));
    @include _font-size($font-size-6);

    &:before {
      @include _getIconFromMap('avarage');
      margin-right: 8px;
      margin-top: -4px;
    }
  }

  .ratio {
    height: 25px;
    border-top: 1px solid $chart-number-avarage-border;
    background: $chart-number-avarage-background;
    @include _font-paragraph('regular', rgba($color-black, .7));
    @include _font-size($font-size-6);

    span {
      margin: 0 10px;

      &:before {
        @include _font-clean('bold', rgba($color-black, .2));
        margin-right: 2px;
      }

      &:first-child:before {
        content: 'H:';
      }

      &:last-child:before {
        content: 'G:';
      }
    }
  }
}