.bar-chart {
  position: relative;
  padding: 0;
  min-height: 275px;

  background: $chart-bar-background;

  h3 {
    margin: 0;
    padding: $grid-gap;
    @include _font-headline('bold', $color-paragraph);
    @include _font-size($font-size-4);
  }

  .chart {
    padding: $grid-gap;
  }
}