$brand-height: 47.2px;

$sidebar-background-color: $color-white;
$sidebar-width: 30vw;

$topbar-primary-height: 70px;

$chart-number-title-background: $color-black;
$chart-number-value-background: $color-white;
$chart-number-avarage-border: darken($color-grey, 8%);
$chart-number-avarage-background: darken($color-grey, 6%);

$chart-bar-background: $color-white;