/* ================================ *\
              COLORS
\* ================================ */
$color-primary:     #ff0000 !default;
$color-secondary:   #151515 !default;

$color-black:       #151515 !default;
$color-white:       #ffffff !default;

$color-grey-light:  #f1f1f3 !default;
$color-grey:        #ededed !default;
$color-grey-dark:   #3e3d40 !default;

$color-success:     #00CC3A !default;
$color-error:       #c00 !default;
$color-hint:        #0F6499 !default;

$color-cta:         $color-primary !default;


// Main
$color-background:  #ededed !default;
$color-paragraph:   #44484f !default;

// Headline
$color-headline:    $color-paragraph !default;
$color-subheadline: $color-paragraph !default;

// Social
$color-facebook:     #3c5998;
$color-twitter:      #55acee;
$color-gplus:        #dc4a38;
$color-youtube:      #e62117;
$color-rss:          #ff6c00;
$color-instagram:    #3f729b;
$color-blog:         $color-black;