/* ================================ *\
    Fonts Include
\* ================================ */
@font-face {
  font-family: 'icomoon';
  src: url('#{$path-font}/icomoon.eot');
  src: url('#{$path-font}/icomoon.eot?#iefix') format('embedded-opentype'),
  url('#{$path-font}/icomoon.woff') format('woff'),
  url('#{$path-font}/icomoon.ttf') format('truetype'),
  url('#{$path-font}/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BEBAS';
  src: url('#{$path-font}/bebas/BebasNeue-webfont.eot');
  src: url('#{$path-font}/bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$path-font}/bebas/BebasNeue-webfont.woff') format('woff'),
  url('#{$path-font}/bebas/BebasNeue-webfont.ttf') format('truetype'),
  url('#{$path-font}/bebas/BebasNeue-webfont.svg#BEBAS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'count';
  src: url('#{$path-font}/count/digital_counter_7-webfont.eot');
  src: url('#{$path-font}/count/digital_counter_7-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$path-font}/count/digital_counter_7-webfont.woff') format('woff'),
  url('#{$path-font}/count/digital_counter_7-webfont.ttf') format('truetype'),
  url('#{$path-font}/count/digital_counter_7-webfont.svg#count') format('svg');
  font-weight: normal;
  font-style: normal;
}