@mixin _componentAlignmentHelper() {
  margin-top: $grid-gap*2;
  padding: 0 $grid-gap*2;
}

@mixin _componentHeaderHelper() {
  header {
    margin: 0 0 $grid-gap 0;
    padding: 0;

    h2 {
      margin: 0 0 5px 0;
      padding: 0;
      @include _font-headline('bold', $color-paragraph);
      @include _font-size($font-size-3);
    }

    p {
      margin: 0;
      padding: 0;
      @include _font-paragraph('regular', $color-paragraph);
      @include _font-size($font-size-paragraph);
    }
  }
}