@mixin _widgetColumnSize($columns) {
  width: 100%;
  margin-bottom: $grid-gap;

  @include _respond-to(tablets) {
    $width: _getColumnWidth($columns);
    width: calc(#{$width} - #{$grid-gap});
    margin-left: #{$grid-gap/2};
    margin-right: #{$grid-gap/2};
  }
}