/* ================================ *\
            Typegraphy
\* ================================ */

////
/// @group text
////

/// define headline font
/// @param {string} $font-weight ['regular'] font weight
/// @param {string} $color [$color-headline] font color
@mixin _font-headline($fontWeight: 'bold', $color: $color-headline) {
  @include _text-rendering;

  font-family: $font-headline;
  font-weight: map_get($font-weight, $fontWeight);
  font-style: italic;
  line-height: 1.3;
  color: $color;
}

/// define paragraph font
/// @param {string} $font-weight ['regular'] font weight
/// @param {string} $color [$color-headline] font color
@mixin _font-paragraph($fontWeight: 'regular', $color: $color-paragraph) {
  @include _text-rendering;

  font-family: $font-headline;
  font-weight: map_get($font-weight, $fontWeight);
  font-style: normal;
  line-height: 1.5;
  color: $color;

  strong {
    font-weight: map_get($font-weight, 'bold');
  }
}


/// define paragraph font
/// @param {string} $font-weight ['regular'] font weight
/// @param {string} $color [$color-headline] font color
@mixin _font-clean($fontWeight: 'regular', $color: $color-paragraph) {
  @include _text-rendering;

  font-family: $font-clean;
  font-weight: map_get($font-weight, $fontWeight);
  font-style: normal;
  line-height: 1.5;
  color: $color;

  strong {
    font-weight: map_get($font-weight, 'bold');
  }
}



/// define paragraph font
/// @param {string} $font-weight ['regular'] font weight
/// @param {string} $color [$color-headline] font color
@mixin _font-navbar($fontWeight: 'regular', $color: $color-paragraph) {
  @include _text-rendering;

  font-family: $font-navbar;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  line-height: 1.1;
  color: $color;

  strong {
    font-weight: normal;
  }
}

/// define button font
/// @param {string} $font-weight ['regular'] font weight
/// @param {string} $color [$color-headline] font color
@mixin _font-button($fontWeight: 'bold', $color: $color-paragraph) {
  @include _text-rendering;

  font-family: $font-headline;
  font-weight: map_get($font-weight, $fontWeight);
  font-style: normal;
  line-height: 1.2;
  color: $color;
}


/// define score font
/// @param {string} $color [$color-paragraph] font color
@mixin _font-score($color: $color-white) {
  @include _text-rendering;

  font-family: 'count', arial, sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
  color: $color;

  font-weight: normal;
  white-space: nowrap;
  text-decoration: none;
}

