@mixin _containerHelper($wide: null, $gap: $grid-gap*2) {
  position: relative;
  width: initial;
  padding-left: $gap;
  padding-right: $gap;

  @if ($wide == 'tall') {
    @include _respond-to(desktops) {
      width: $breakpoint-tablet-min;
      margin-left: auto;
      margin-right: auto;
    }
  }
}