.dashboard {
  position: relative;
  width: 100%;
  min-height: inherit;

  @include _respond-to(tablets) {
    > .content {
      position: relative;
      width: calc(100vw - #{$sidebar-width});
      margin-left: $sidebar-width;
    }
  }

  @include _respond-to(desktops) {
    > .content {
      width: calc(100vw - #{$sidebar-width - 10});
      margin-left: #{$sidebar-width - 10};
    }
  }
}