.widget-factory {
  @include _containerHelper('dashboard', $grid-gap);

  @include _respond-to(tablets) {
    @include _display-flex(flex, flex-start, flex-start, row, wrap);
  }

  > * {
    @include _move-list-items-in(10);
  }

  @include _vtWidgetHelper() {
    display: block;
    margin-bottom: $grid-gap;
  }
}