.overlay-wait {
  @include _curtainToggleAnimation(-70vh, .24s, '-in', 'Y');
  position: relative;
  width: 100%;
  height: 100vh;
  @include _display-flex(flex, center, center, column);

  background: rgba($color-primary, .9);

  &.-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: map_get($z-index, 'loading-wheel');
  }

  p {
    margin: $grid-gap 0 0 0;
    @include _font-paragraph('bold', $color-paragraph);
  }
}