.sidebar {
  header {
    position: relative;
    width: 100%;
    height: $topbar-primary-height;
    @include _sidebarPaddingHelper();
    @include _display-flex(flex, center, flex-start);
    margin-bottom: 30px;

    button {
      @include _reset-button();
      position: absolute;
      right: -40px;
      top: $grid-gap;
      width: 40px;
      height: 40px;
      @include _font-size($font-size-1);

      cursor: pointer;
      background: $color-white;
      border-radius: 0 4px 4px 0;

      &:before {
        @include _getIcon(map_get($iconMap, 'bars'));
      }

      @include _respond-to(tablets) {
        display: none;
      }
    }
  }

  &.-in header button {
    right: $grid-gap;
  }
}