.sidebar {
  width: 100vw;
  height: 100vh;
  z-index: map_get($z-index, 'overlay');
  background: $sidebar-background-color;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  @include _respond-to(phones) {
    @include _transition(all);
    transform: translateX(-100vw);

    &.-in {
      transform: translate(0);
    }
  }

  @include _respond-to(tablets) {
    width: $sidebar-width;
    z-index: map_get($z-index, 'default');
    box-shadow: 0 0 10px rgba($color-black, .18);
  }

  @include _respond-to(desktops) {
    width: #{$sidebar-width - 10};
  }

  > div {
    width: 100%;
  }

  .-scrollable {
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
  }
}