<aside class="sidebar fixed">
  <header>
    <div class="brand">
      <a href="@@BASE_URL@@">
        <img src="@@BASE_URL@@/images/KoelnerKickerliga_Logo_4c_schwarz.svg" alt="Kölner Kickerliga" /> Inside </a>
    </div>

    <button data-toggle="sidebar"></button>
  </header>

  <div class="-scrollable">
    <div class="years">
      {% include "navbar-years.html" %}
    </div>

    <div class="seasons" id="navbar-seasons"></div>
  </div>
</aside>