.filter-gamedays {
  position: relative;
  margin: 0 0 0 10px;
  @include _curtainToggleAnimation(-100px);

  .input-select {
    padding: 5px 10px;
    border-radius: 3px;
    background: $color-white;
    border: 1px solid rgba($color-black, .1);
  }

  select {
    @include _reset-glow();
    border: 0;
    background: transparent;
    @include _font-paragraph('regular', $color-paragraph);
    @include _font-size($font-size-paragraph);
  }
}