.topbar {
  width: 100%;
  height: $topbar-primary-height;
  padding: 0 $grid-gap;
  @include _display-flex(flex, center, flex-end);

  background: rgba($color-black, .05);
  border-bottom: 1px solid rgba($color-black, .05);
}