<div class="results-per-gameday">
  <header>
    <h2>Gesamt erzielte Ergebnisse</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed</p>
  </header>

  <div class="chart">
    <div class="ct-chart ct-perfect-fourth"></div>
  </div>
</div>